
body {
  background-color: #666;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center; 
	color: blue;
	font-family: arial;
}

a {
  color: #00a;
}

li strong {
	font-style: italic;
	font-weight: normal;
}